@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewBag.Noticia != null)
    {
        @foreach (var noticia in ViewBag.Noticia)
        {
                <span>@noticia.resumenNoticia</span
                <span>@noticia.FchPublicacion</span>
        }
        }
    }
</div>
