@{
    ViewData["Title"] = "login";
    var mensajeRegistroExitoso = ViewData["MensajeRegistroExitoso"] as string;
    var cuentaVerificada = ViewData["CuentaVerificada"] as string;
    var cuentaNoVerificada = ViewData["EmailNoConfirmado"] as string;
    var yaEstabaVerificada = ViewData["yaEstabaVerificada"] as string;
    var mensajeExitoMail = ViewData["MensajeExitoMail"] as string;
    var contraseñaModificada = ViewData["ContraseñaModificadaExito"] as string;
    var mensajeErrorInicioSesion = ViewData["MensajeErrorInicioSesion"] as string;
    var error = ViewData["error"] as string;
}

    <div class="wrapper">
        <div class="logoLogin">
            <img src="https://www.freepnglogos.com/uploads/logo-nu-png/nu-logo-hd-free-nahdlatul-ulama-emblem-download-1.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            La Revista
        </div>
    <form class="p-3 mt-3" method="post" asp-action="LoginCorrecto" asp-controller="Login" asp-for="UsuarioDTO" role="form">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" class="input" name="EmailUsuario" id="EmailUsuario" placeholder="Correo electrónico" required />
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="ClaveUsuario" id="ClaveUsuario" class="input" placeholder="Contraseña" required />
        </div>
        <button type="submit" class="btn mt-3">Iniciar sesión</button>
        <hr class="border border-primary border-2 opacity-80 m-4">
        <ul class="listaLogin">
            <li><a href="/auth/solicitar-recuperacion">Olvidó su <span class="fw-bold fs-5">contraseña?</span></a></li>
            <li><a href="/auth/crear-cuenta">No tiene una cuenta?<span class="fw-bold fs-5"> Regístrese</span></a></li>
        </ul>
            </form>

    @if (!string.IsNullOrEmpty(mensajeRegistroExitoso))
    {
        <script>
            mostrarNotificacion("¡Email de confirmación enviado!", "Revise su bandeja de entrada y confirme su cuenta de correo electrónico.", 'info');
        </script>
    }

    @if (!string.IsNullOrEmpty(cuentaVerificada))
    {
        <script>
            mostrarNotificacion("¡Cuenta verificada!", "La cuenta ha sido confirmada correctamente. Ya puede iniciar sesión", 'success');
        </script>
    }
    @if (!string.IsNullOrEmpty(cuentaNoVerificada))
    {
        <script>
            mostrarNotificacion("¡Debe confirmar su correo electrónico!", "Para poder iniciar sesión, antes debe confirmar su cuenta de correo electrónico. Revise su bandeja de entrada", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeExitoMail))
    {
        <script>
            mostrarNotificacion("¡Email de recuperación enviado!", "Revise su bandeja de entrada y sigua las instrucciones para restablecer su contraseña", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(yaEstabaVerificada))
    {
        <script>
            mostrarNotificacion("¡Se encuentra registrado y vericado!", "Puede acceder y hacer uso de su cuenta", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(contraseñaModificada))
    {
        <script>
            mostrarNotificacion("¡Contraseña modificada con exito!", "Ya puede iniciar sesión con su nueva contraseña", 'success');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeErrorInicioSesion))
    {
        <script>
            mostrarNotificacion("¡No se pudo iniciar sesión!", "Credenciales introducidas incorrectas o cuenta de email no verificada", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(error))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
        </script>
    }

</div>