@{
    ViewData["Title"] = "Dentro";
}
<h4 class="text-light text-center subtituloSecundario">Bienvenido/a <span>@User.Identity.Name</span></h4>
@foreach (var noticia in ViewBag.Noticia)
{
    <tr>
        <td>@noticia.TituloNoticia</td>
    </tr>
}