@using PeriodicoCSharp.DTO
@{
    ViewData["Title"] = "recuperar";
    var usuarioDTO = ViewData["UsuarioDTO"] as UsuarioDTO;
}
@model PeriodicoCSharp.DTO.UsuarioDTO
<div class="container py-4">
    <div class="recuperar cardPrincipal">
        <form class="custom-form" asp-action="ProcesarRecuperacionContraseña" asp-controller="Login" method="post">
            <h2 class="text-center mb-5"> Restablezca su contraseña</h2>
            <input type="hidden" name="TokenRecuperacion" value="@usuarioDTO.TokenRecuperacion" />
            <div class="mb-3">
                <label for="password" class="form-label textoPrincipal">Contraseña</label>
                <input type="password" name="ClaveUsuario" class="form-control" oninput="revisarContraseña()" id="ClaveUsuario" placeholder="Introduzca su nueva contraseña" required autofocus />
            </div>
            <div class="mb-3">
                <label for="confirmarPassword" class="form-label textoPrincipal">Confirmar contraseña</label>
                <input type="password" id="confirmarPassword" name="confirmarPassword" class="form-control" oninput="revisarContraseña()" placeholder="Introduzca de nuevo la contraseña" required />
            </div>
            <div class="mensajeContrasenya text-center" id="mensajeContrasenya"></div>
            <div class="text-right mt-3">
                <button type="submit" id="btnRegistro" class="btn btn-primary">Restablecer</button>
            </div>
        </form>
    </div>
</div>
