@{
    ViewData["Title"] = "registro";
    var error = ViewData["NoValido"] as string;

}
<div class="wrapper">
    <div class="logoLogin">
        <img src="https://www.freepnglogos.com/uploads/logo-nu-png/nu-logo-hd-free-nahdlatul-ulama-emblem-download-1.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        La Revista
    </div>



    <div class="registro cardPrincipal">
        <form class="p-3 mt-3" asp-action="RegistrarPost" asp-controller="Login" method="post" asp-for="UsuarioDTO">
            <input type="hidden" name="returnUrl" value="@TempData["ReturnUrl"]" />
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-user"></span>
                <input type="text" id="NombreUsuario" name="NombreUsuario" class="form-control" placeholder="Nombre" required oninput="validarFormulario()"/>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-user"></span>
                <input type="text" id="ApellidosUsuario" name="ApellidosUsuario" class="form-control" placeholder="Apellidos" required oninput="validarFormulario()"/>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-address-card"></span>
                <input type="text" id="DniUsuario" name="DniUsuario" class="form-control" placeholder="DNI" required oninput="validarFormulario()" />
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-phone"></span>
                <input type="tel" id="TlfUsuario" name="TlfUsuario" class="form-control" placeholder="Escribe tu número de teléfono" required oninput="validarFormulario()"  />
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-envelope"></span>
                <input type="email" id="EmailUsuario" name="EmailUsuario" class="form-control" placeholder="Escribe tu correo electrónico" required oninput="validarFormulario()"  />
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-key"></span>
                <input type="password" id="claveUsuario" name="ClaveUsuario" class="form-control" placeholder="Escribe tu contraseña" required oninput="validarFormulario()" />
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa fa-key"></span>
                <input type="password" id="confirmarClaveUsuario" class="form-control" placeholder="Repite tu contraseña" required oninput="validarFormulario()" />
            </div>
            <button type="submit" id="btnRegistro" class="btn btn-primary mt-5" oninput="validarFormulario()" disabled><i class="bi bi-person-add fs-5"> Crear cuenta</i></button>
        </form>
    </div>
    @if (!string.IsNullOrEmpty(error))
    {
        <script>
            mostrarNotificacion("¡Error en el registro!", "Los datos aportados no son válidos.", 'error');
        </script>
    }
</div>
